<%- partial('_partial/bg-cover') %>

<main class="content">
    <div id="contact" class="container chip-container">
        <div class="card w3-pale-blue">
            <div class="card-content">
                <div class="tag-title center-align">
                    <i class="fas fa-comment-alt"></i>&nbsp;&nbsp;<%- __('python') %>
                </div>
                <%- page.content %>
            </div>
        </div>
    </div>
</main>
